#ppal{
    width:100vw;
    height: 100vh;
    border: blue 3px solid;
    display:flex;
    flex-direction:column;
    
}

#cabecera{
    width:100vw;
    min-height: 100px;
    border:orange 5px solid;
    background-color: #9ea814;
}
#main{
    width:100vw;
    height:80vh;
    border:maroon 5px solid;
    display:flex;
    flex-direction:row;
    flex:1 0 auto;
}

aside{
    position:relative; left:5vw; top:15vh;
    width:150px;
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}

nav{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
}
.buttonhervorgehoben{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #a8a7a7;
    color: white;
    font-size: 1.5em;
    font-size-adjust:inherit;
    border: 2px solid #ccc;
    border-radius: 1em;
    overflow: hidden;
}
#flex{
    width:70vw;
    height:70vh;
    position:relative; left:10vw; top:10vh; 
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    overflow-y: scroll;
}

.productflex{
    display:flex;
    margin: 5px auto;
    width: 200px;
    height: 200px;
    border: solid grey 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-repeat: no-repeat;
    background-size: cover;
}
#productflex1{
    background-image:url(Produkt1.png);
}
#productflex2{
    background-image:url(Produkt2.png);
}
#productflex3{
    background-image:url(Produkt3.png);
}

#productflex4{
    background-image:url(Produkt4.png);
}
#productflex5{
    background-image:url(Produkt5.png);
}
#productflex6{
    background-image:url(Produkt6.png);
}
#productflex7{
    background-image:url(Produkt7.png);
}
#productflex8{
    background-image:url(Produkt8.png);
}
@media (max-width:500px){
    #main{
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        width:70vw;
        height:70vh;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        position:relative; top:5px;
        width:100vw;
        height:15vh;
    }
    aside{
        height:15vh;
        position:relative; top:20px;
    }
    .buttonhervorgehoben{
        display:flex;
        flex-direction: row;
    }
    #flex{
        display:flex;
        position:relative; top:5px;
        
    }
}

#piepagina{
    width:100vw;
    min-height: 100px;
    border:orange 5px solid;
    display:flex;
    justify-content: flex-end;
}
footer {
    background-color: darkgrey;
    border:rot 5px solid;
    font: "Bookman Old Style";
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    
}
#container{
    position: relative; bottom:3px; 

}